@media (max-width:1030px){
    /* Home CSS  */
    .home .home-banner-1,
    .home .home-banner-2{
        background-position: 65% center;
        min-height: 550px;
    }
    .home .home-banner .home-banner-text{
        transform:translate(-80%, -50%);
    }

    /* offer  */
    .offers .offer-box .offer-info .heading-bigger{
        font-size: 3rem;
    }
    /* Special css  */
    .special .countdown-container .countdown-counter li{
        padding: 1.5rem 1rem;
    }
}

@media (max-width:991px){
    /* Home CSS  */
    .home .home-banner .home-banner-text{
        transform:translate(-66%, -50%);
    }
    /* Special css  */
    .special .countdown-container{
        padding-top: 1rem;
        padding-bottom: 5rem;
    }
    /* Testimonial Css  */
    .testimonial .carousel-control-prev{
        left:-1.75rem;
    }
    .testimonial .carousel-control-next{
        right:-1.75rem;
    }
}

@media (max-width:767px){
    /* Home CSS  */
    .home .home-banner-1,
    .home .home-banner-2{
        background-position: 50% center;
        min-height: 450px;
    }
    .home .home-banner .home-banner-text{
        text-align: center;
        width: 100%;
        transform:translate(-50%, -50%);
    }
    .home .home-banner .home-banner-text h1{
        font-size: 3rem;
    }
    .home .home-banner .home-banner-text h2{
        font-size: 1.2rem;
    }
    .home .home-banner .home-banner-text .btn-danger{
        padding: 0.5rem 1.5rem;
    }
    /* Offer css */
    .offers .offer-box .offer-info .heading-bigger{
        font-size: 1.625rem;
    }
    .offers .offer-box .offer-info .offer-title-1{
        font-size: 0.625rem;
    }
    /* Product css  */
    .products .up_to_content h2{
        font-size: 0.75rem;
    }
    /* Special css  */
    .special{
        padding: 4rem 0;
    }
    .special .countdown-container .countdown-counter li{
        padding: 1rem;
        width: 20%;
    }
    /* Testimonial css  */
    .testimonial .testimonial_wrapper{
        padding: 1rem;
    }
    .testimonial .carousel-control-prev,
    .testimonial .carousel-control-next{
        display: none;
    }
}


@media (max-width:330px){
    /* home css  */
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }

    .products .up_to_content h2{
        font-size: 0.625rem;
    }
   
}